.app-wrapper{
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    height: 390px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.left-side{
    background-color:#4e38f5;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    width: 220px;
}
h3, .text{
    color: #c8bbfe;
}
.percentage{
    border-radius: 50%;
    background: linear-gradient(0deg, #4633ed 0%, #4c22cb 100%);
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 45px;
    padding-top: 25px;
}
.p-percentage{
    margin-top: -20px;
}
.right-side{
    padding-left: 35px;
    padding-right: 35px;
}
span{
    color:#514f5f;
}
.procent{
    margin-left: auto;
    margin-right: 0px;
    color: #acaab0;
}
.reaction, .memory, .verbal, 
.visual{
    display:flex;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    font-weight: bold;

}
img{
    padding-right: 20px;
    padding-left: 5px;
}
.reaction{
    color: #e99491;
    background-color: #fff6f5;
}
.memory{
    color: #f9db97;
    background-color: #fffbf2;
}
.verbal{
    color:#5ccab0;
    background-color: #f2fbfa;
}
.visual{
    background-color: #f3f3fd;
    color: #4c5aae;
}
.button{
    background-color: #303b59;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 40px;
    width: 320px;
    height: 50px;
}
.button:hover{
    background: linear-gradient(0deg, #4c22cb 0%, #4633ed 100%);
}
@media(max-width:710px)
{
body{
    display: block;
    box-shadow: none;
    margin: 0px;
    
}
.app-wrapper{
    display: block;
    box-shadow: none;
    margin-top: 0px;
    width: fit-content;
}
.left-side{
    width: fit-content;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 30px;
}
.right-side{
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

.reaction, .memory, .verbal, 
.visual{
    margin-left: auto;
    margin-right: auto;
    width:90%;

}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
}